{% extends 'layout.html' %}


{% block title %}
  ALL Touch 
{% endblock %}

{% block content %}
  <h1>Welcome to All Touches Page</h1>
  <!-- Display all touches -->
  {% comment %} <h1 class="text-3xl font-bold mb-4">All Touches</h1>
  <p class="mb-6">Here is a list of all the touches available in the Touch Python Project:</p> {% endcomment %}
  <div class="grid grid-cols-4 gap-4 m-4" >
    {% for touch in touches %}
      <div class="bg-blue-200 rounded-lg shadow-md p-4">
        <img class="rounded" src="{{ touch.image.url }}" alt="{{ touch.name }}">
        <p class="rounded" >{{ touch.id }}</p>
        <h2 class="rounded">{{ touch.name }}</h2>
        <h2 class="rounded">Type: {{ touch.type }}</h2>
        <p>{{ touch.description }}</p>
        <a href="{% url 'touch_detail' touch.id %}" class="text-blue-500 hover:underline">
          <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"> 
            View Details 
            {{touch.type}} - {{ touch.id }}
          </button>
        </a>

      </div>
    {% endfor %}
  </div>
{% endblock %}